.header {
    text-align: center;
    padding: 10px;
    background-color: #2c3e50;
    color: white;
    margin-bottom: 30px;
}

.home-btn {
    float: left;
    height: 60px;
    width: 60px;
    margin: 0 auto;
    background: transparent;
    border: none;
    cursor: pointer;
}

.fa-home {
    color: white;
}

.home {
    text-align: center;
    background-color: #f3f3f3;
    height: 100vh;
}

.carousel {
    margin-top: 30px;
}

.carousel-img {
    width:  1000px;
    height: 500px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
    margin: 0 auto;
}

.recipes {
    background-color: #f3f3f3;
}

.recipe h3, .recipe h4{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.recipe-info {
    margin-bottom: 30px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: -1px 2px 34px -13px rgba(0,0,0,0.75);
}

.recipe button {
    background: #2c3e50;
    color: white;
    padding: 0.4rem 0.6rem;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 500;
}

.recipe button:hover {
    border: solid 2px #2c3e50;
    background: transparent;
    color: #2c3e50;
}


